*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}   

body{
    background-color: blueviolet;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(250, 250, 250, 0.1);
    align-items: center;
}
.nav li {
    display: inline-block;
    padding: 0% 20PX;
}

.nav li a{
    list-style: none;
    color: white;
}

.icons i{
    display: inline-block;
    list-style: none;
}